@{
    ViewData["Title"] = "Create Users";
}

<h1>Create Users</h1>
<hr />
<h2>
    @Html.Raw(ViewData["Message"])
</h2>
<br />
<div>
    <h4>
        Default account credentials
    </h4>
    <ul>
        <li>
            <b>Admin Role -</b><br />
            <i>*Ability to view all areas of the application, user can create 8 default Players for testing.</i><br />
            Email: admin@example.com<br />
            Password: 123qwe!QWE<br /><br />
        </li>
        <li>
            <b>Organizer Role -</b><br />
            Email: organizer@example.com<br />
            Password: 123qwe!QWE<br /><br />
        </li>
        <li>
            <b>Referee Role -</b><br />
            Email: referee@example.com<br />
            Password: 123qwe!QWE<br /><br />
        </li>
    </ul>
</div>

