@{
    ViewData["Title"] = "Referee Index";
}
<div class="text-center">
    <h2 class="display-4 page-title-highlight">Referee Index</h2>
    <br />
    <h4>Main page for Referee users upon login.</h4>
    <p>(referee view)</p>
</div>