@{
    ViewData["Title"] = "Organizer Index";
}
<div class="text-center">
    <h2 class="display-4 page-title-highlight">Organizer Index</h2>
    <br />
    <h4>Main page for Organizer users upon login.</h4>
    <p>(organizer view)</p>
</div>

<a class="btn btn-primary" asp-area="" asp-controller="Organizer" asp-action="RegisteredPlayers">View Registered Players</a>
<a class="btn btn-primary" asp-area="" asp-controller="Tournament" asp-action="Create">Create a Tournament</a>
<a class="btn btn-primary" asp-area="" asp-controller="Tournament" asp-action="Index">View Tournaments</a>
