@* @{
    ViewData["Title"] = "Bracket Page";
}

<div class="text-center">
    <h1 class="display-4">Tournament Bracket</h1>
    <br />
    <h3>This is the page that will display the full bracket.</h3>
    <p>(public view)</p>
</div> *@

@* Replaced the need for this page by adding Bracket viewing for all available via Tournaments page. *@